/* Palette de couleurs :
1 :
2 : #A3B18A
3: #588157
4 : #3A5A40
5 : #344E41
*/
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color : #DAD7CD;
    --nav-bar-color : #344E41;
    --nav-bar-hover : #2e453a;
    --vert-clair : #A3B18A;
    --vert: #588157;
    --vert-fonce : #3A5A40;
}
body {
    margin: 0;
    padding: 0;
    padding-top: 3em;
    background-color: var(--background-color);
    font-family: "Host Grotesk", sans-serif;

}

header > nav {
    position: fixed;
    width: 100%;
    top : 0;
    background-color: var(--nav-bar-color);
    height: 8%;

}

header > nav > ul.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.navbar-list > li {
    height: 4em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.navbar-list > li:hover {
    background-color: var(--nav-bar-hover);
}

ul.navbar-list > li > a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--background-color);
}

ul.liste-questions-bdd {
    list-style-type: circle;
}

ul.liste-stack-web {
    list-style-type: lower-alpha;
}

header > h1 {
    text-decoration: underline;
}

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

#meme-img{
    display: flex;
    justify-content: center;
}